.side
  .side__user
    .side__user-items
      .side__user-items__name
        ibuki
      .side__user-items__icons
        = link_to "#", class: "side__user-items__icon" do
          = fa_icon 'edit', class: 'side__user-items__edit'
          = fa_icon 'cog', class: 'side__user-items__cog'
  .side__group
    %ul.side__group__box
      %li.side__group__box__name tech::camp
      %li.side__group__box__chat まだメッセージはありません
    %ul.side__group__box
      %li.side__group__box__name tech::camp
      %li.side__group__box__chat まだメッセージはありません
    %ul.side__group__box
      %li.side__group__box__name tech::camp
      %li.side__group__box__chat まだメッセージはありません