.side
  .side__user
    .side__user-items
      %h3.side__user-items__name
        =current_user.name
      .side__user-items__icons
        = link_to "#", class: "side__user-items__icon" do
          = fa_icon 'edit', class: 'side__user-items__edit'
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'side__user-items__cog'
  .side__group
    %ul.side__group__box
      %li.side__group__box__name tech::camp
      %li.side__group__box__chat まだメッセージはありません
    %ul.side__group__box
      %li.side__group__box__name tech::camp
      %li.side__group__box__chat まだメッセージはありません
    %ul.side__group__box
      %li.side__group__box__name tech::camp
      %li.side__group__box__chat まだメッセージはありません